@use "sass:math";
@use '../../styles/base_values.scss';
@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/shared/header.scss';
@use '../../styles/shared/mixins.scss';

.container {
  @include mixins.lightMixin;
  position: fixed;
  height: calc(100% - #{header.$nav-bar-height-sm});
  top: header.$nav-bar-height-sm;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  overflow-y: auto;

  @include breakpoints.md {
    height: calc(100% - #{header.$nav-bar-height-md});
    top: header.$nav-bar-height-md;
  }

  @include breakpoints.xlg {
    top: 0;
    right: 0;
    width: base_values.$side-bar-width;
    height: 100%;
  }
}

.chatLink {
  text-decoration: none;
}

.linkContainerHome {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include breakpoints.xlg {
    padding-bottom: 1rem;
    @include breakpoints.sidebarProblem {
      justify-content: space-between;
      // height: 50%;
      // min-height: 19rem;
    }
  }
}

.linkContainerDivider {
  height: 0;
  @include breakpoints.xlg {
    height: 3.6rem;
    @include breakpoints.sidebarProblem {
      height: 0;
    }
  }
}

.show {
  right: 0;
  transition: right 0.3s;
}

.hide {
  right: 100%;
  transition: right 0.2s;

  @include breakpoints.xlg {
    right: 0;
    display: flex;
  }
}

$a-line-height: 2.4rem;
$a-font-size: 1.7rem;

.footer {
  width: 100%;
  @include breakpoints.lg {
    margin-bottom: header.$sidebar-left-margin-lg - math.div($a-line-height, 2);
  }

  @include breakpoints.xlg {
    margin-bottom: header.$sidebar-left-margin-xlg - math.div($a-line-height, 2);
  }

}

.nav {
  margin: 0;
  padding: 0;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navListItem {
  margin: 0;
  width: 100%;
  padding: 0 header.$sidebar-right-margin-sm 0 header.$sidebar-left-margin-sm;
  @include breakpoints.md {
    padding: 0 header.$sidebar-right-margin-md 0 header.$sidebar-left-margin-md;
  }
  @include breakpoints.lg {
    padding: 0 header.$sidebar-right-margin-lg 0 header.$sidebar-left-margin-lg;
  }

  @include breakpoints.xlg {
    padding: 0 header.$sidebar-right-margin-xlg 0 header.$sidebar-left-margin-xlg;
  }
}

.navListLink {
  color: colors.$dvp-grey;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-family: 'camptonbold_demo';
  font-size: $a-font-size;
  line-height: $a-line-height;

  &:hover {
    color: colors.$dvp-dark;
  }
}
 
$arrow-height: $a-font-size * calc(3 / 4);
.arrow {
  float: right;
  font-size: $arrow-height;
}

.home {
  @include breakpoints.lg {
    top: 0;
    right: 0;
    width: base_values.$side-bar-width;
    height: 100%;
  }
  .hide {
    @include breakpoints.lg {
      right: 0;
      display: flex;
    }
  }
}
