@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';

.parentContainer {

  @include lg {
    position: unset;
  }
}
.container {
  composes: light from '../../styles/global.scss';

  @include lg {
    position: absolute;
    top: 0;
    right: 0;
    width: $side-bar-width;
  }
}

.show {
  display: block;
  flex: 1 1 auto;
}

.hide {
  display: none;
  @include lg {
    display: block;
  }
}
