@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/shared/header.scss';

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    list-style-type: none;
    position: relative;    /* It's needed for setting position to absolute in the next rule. */
    margin: 0;
    padding: 0;
  }

  li::before {
    content: '⋄';
    position: absolute;
    left: -0.8em;          /* Adjust this value so that it appears where you want. */
    font-size: 1.1em;      /* Adjust this value so that it appears what size you want. */
  }
}

.homePageElement {
  p {
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.6rem;

    @include breakpoints.md {
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
  
  @include breakpoints.lg {
    display: none;
  }
  .list {
    margin-left: 1rem;
  }
}

.sideBarElement {
  display: none;
  
  @include breakpoints.lg {
    display: block;
    margin: 0 header.$sidebar-right-margin-lg 0 header.$sidebar-left-margin-lg;
  }

  @include breakpoints.xlg {
    margin: 0 header.$sidebar-right-margin-xlg 0 header.$sidebar-left-margin-xlg;
  }

  p {
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.4rem;
    margin-bottom: 1rem
  }
}
