@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

.shortBio {
  color: $dvp-grey;
  font-weight: 700;
}

.shortBioLink {
  color: $dvp-grey;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    color: $dvp-dark;
  }
}

.bioContainer {
  display: flex;
  flex-direction: column;
  @include md {
    flex-direction: row;
    padding-right: 3rem;
  }
}

.avatarImg {
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

.avatarColumn {
 padding-right: 2rem;
}

.writtenDate {
  font-weight: 500;
}

.signpostContainer {
  display: flex;
  img {
    margin-right: 1rem;
  }
  align-items: center;

  flex-direction: row;
  flex-wrap: wrap;
  > * {
    margin-bottom: 1rem;
  }
  margin-bottom: 1rem
}

.email {
  font-weight: 700;
  color: $dvp-grey;
  word-break: break-all;
}
