@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

.shortBio {
  color: $dvp-grey;
  font-weight: 700;
}

.email {
  font-weight: 700;
}

.bioContainer {
  display: flex;
}

.avatarImg {
  border-radius: 50%;
}

.avatarColumn {
 padding-right: 2rem;
}

.writtenDate {
  font-weight: 500;
}

.signpostContainer {
  display: flex;
  align-items: center;
  img {
    margin-right: 1rem;
  }
}
