@import '../../styles/colors.scss';
@import '../breakpoints.scss';

@mixin darkMixin {
  background-color: $dvp-dark;
  color: $dvp-white;
}

@mixin lightMixin {
  background-color: $dvp-white;
  color: $dvp-dark;
}

@mixin contentTitleMixin {
  display: none;
  @include md {
    display: initial;
  }
}

@mixin contentContainerMixin {
  @include md {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
  }

  @include xlg {
    padding-top: 3.8rem;
    padding-left: 2rem;
  }
}

@mixin nullOpenSideBar {
  position: static;
  overflow: auto;
  height: auto;
  width: auto;
  overflow: auto;
}


@mixin contentContainer {
  @include xlg {
    width: $content-width;
  }

  &.openSideBar {
    @include xlg {
      @include nullOpenSideBar;
    }
  }
}

@mixin contentMain {
  padding: 0 $margin-sm-v $margin-sm-h;

  @include md {
    padding: 0 $margin-md-h $margin-md-v;
  }

  @include xlg {
    padding: 0 0 $margin-lg-v $margin-lg-h;
  }
}
