@use '../colors.scss';
@use '../breakpoints.scss';
@use '../base_values.scss';

@mixin darkMixin {
  background-color: colors.$dvp-dark;
  color: colors.$dvp-white;
}

@mixin lightMixin {
  background-color: colors.$dvp-white;
  color: colors.$dvp-dark;
}

@mixin contentTitleMixin {
  display: none;
  @include breakpoints.md {
    display: initial;
  }
}

@mixin contentContainerMixin {
  @include breakpoints.md {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
  }

  @include breakpoints.xlg {
    padding-top: 3.8rem;
    padding-left: 2rem;
  }
}

@mixin nullOpenSideBar {
  position: static;
  overflow: auto;
  height: auto;
  width: auto;
  overflow: auto;
}


@mixin contentContainer {
  @include breakpoints.xlg {
    width: base_values.$content-width;
  }

  &.openSideBar {
    @include breakpoints.xlg {
      @include nullOpenSideBar;
    }
  }
}

@mixin contentMain {
  padding: 0 base_values.$margin-sm-v base_values.$margin-sm-h;

  @include breakpoints.md {
    padding: 0 base_values.$margin-md-h base_values.$margin-md-v;
  }

  @include breakpoints.xlg {
    padding: 0 0 base_values.$margin-lg-v base_values.$margin-lg-h;
  }
}
