@import '../../styles/breakpoints.scss';

$person-img-xlg-max: $screen-xlg-min - 1;
$person-img-xlg-min: $screen-xlg-min;


$person-img-md-width-no: 300;
$person-img-md-width: 300px;
$person-img-xlg-width-no: 350;
$person-img-xlg-width: 350px;
