@use './people.scss' as p;

:export {
  personImgXlgMax: p.$person-img-xlg-max;
  personImgXlgMin: p.$person-img-xlg-min;
  personImgMdWidth: p.$person-img-md-width-no;
  personImgXlgWidth: p.$person-img-xlg-width-no;
}
