@use '../styles/base_values.scss';
@use '../styles/breakpoints.scss';
@use '../styles/colors.scss';
@use '../styles/shared/mixins.scss';

.header {
  margin-bottom: 2rem;
}

.timeAuthorRow {
  display: flex;
  flex-direction: column;
  @include breakpoints.md {
    flex-direction: row;
  }
  > * {
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  > *:last-child {
    margin-right: 0;
  }
}

@mixin postContainer {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.postContainer {
  @include postContainer;
}

@mixin blogContent {
  padding-top: base_values.$margin-sm-v;
  padding-bottom: base_values.$margin-sm-v;
  @include mixins.contentMain;
  @include breakpoints.md {
    padding-top: base_values.$margin-md-v;
    padding-bottom: base_values.$margin-md-v;
  }

  @include breakpoints.xlg {
    padding-top: base_values.$margin-lg-v;
    padding-bottom: base_values.$margin-lg-v;
  }
}

.footer {
  position: absolute;
  left: 0;
  width: 100%;
  @include mixins.contentContainer;
}

.bioFooter {
  background-color: colors.$dvp-light-grey;
  @include blogContent;
}

.navFooter {
  @include blogContent;
}

.discussLinks {
  margin-bottom: 2rem;
}

.postContent {
  margin-bottom: 2rem;

  h2 {
    background: colors.$dvp-yellow;
    display: inline-block;
  }

  h3 {
    font-size: 1.51572rem
  }

  ul {
    list-style-position: inside;
    padding-left: 1rem;
  }

  a {
    color: colors.$dvp-red;
    text-decoration: underline;
  }
  

  pre[class*="language-"] {
    background: colors.$dvp-dark;
    box-decoration-break: clone;
    padding: .5rem .5rem .5rem;
    border-radius: .2rem;
  }
  code[class*="language"] {
    background: colors.$dvp-dark;
    box-decoration-break: clone;
    padding: .2rem .2rem .2rem;
    border-radius: .2rem;
  }

  pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    padding: .5rem .5rem .5rem;
  }
}
