@use "sass:math";
@use '../../styles/colors.scss';
@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';

$burger-size: 1.2rem;

.burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  width: $burger-size;
  height: $burger-size;

  top: base_values.$margin-sm-v;
  right: base_values.$margin-sm-h;

  @include breakpoints.md {
    top: base_values.$margin-md-v;
    right: base_values.$margin-md-h;
  }

  @include breakpoints.xlg{
    top: base_values.$margin-lg-v;
    right: base_values.$margin-lg-h;
  }
  
  &:focus {
    outline: none;
  }
  
  div {
    background: colors.$dvp-dark;
    width: $burger-size;
    height: 0.2rem;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &:first-child {
      transform: rotate(0);
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: rotate(0);
    }
  }
}

.cross {
  div {
    &:first-child {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.home {
  div {
    background: colors.$dvp-white;
  }

  @include breakpoints.lg{
    top: base_values.$margin-lg-v;
    right: base_values.$margin-lg-h;
  }
}
