@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';

.container {
  display: flex;
  flex-wrap: wrap;
}

.imgContainer {
  position: relative;
  padding-bottom: 0.5rem;

  margin-right: 1rem;

  @include breakpoints.lg {
    margin-right: 0.5rem;
  }

  &:hover {
    .imgColor {
      opacity: 1;
      transition: opacity 0.2s;
    }
  }
}

.imgColor {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
