// Tablets
$screen-md-min: 768px;

// Desktop
$screen-lg-min: 1024px;

// x Desktop
$screen-xlg-min: 1240px;

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra Large devices
@mixin xlg {
   @media (min-width: #{$screen-xlg-min}) {
       @content;
   }
}
