$dvp-dark: #131f21;
$dvp-grey: #71797a;
$dvp-grey-half: rgba(19, 31, 33, 0.5);
$dvp-yellow: #fdd231;
$dvp-blue: #59c9de;
$dvp-red: #f44668;
$dvp-white-half: rgba(255, 255, 255, 0.5);
$dvp-white: #ffffff;

:export {
  dvpDark: $dvp-dark;
  dvpWhite: $dvp-white;
}
