@import './fonts.scss';
@import './base_values.scss';
@import './colors.scss';

@import './shared/mixins.scss';
@import './typograph.scss';

.dark {
  @include darkMixin;
}

.light {
  @include lightMixin;
}

html, body {
  font-size: $base-font-size;
  color: $dvp-dark;

  a {
    color: $dvp-dark;
    &:hover {
      color: $dvp-dark;
    }
  }

  mark {
    background-color: $dvp-yellow;
  }

  img {
    margin-bottom: 0
  }
}

iframe {
  border: 0;
  margin-bottom: 0
}
