@use './base_values.scss' as bv;
@use './breakpoints.scss' as bp;
@use './colors.scss' as c;

:export {
  baseFontSize: bv.$base-font-size;
  baseLineHeight: bv.$base-line-height;
  screenMDMin: bp.$screen-md-min-int;
  screenLGMin: bp.$screen-lg-min-int;
  screenXLGMin: bp.$screen-xlg-min-int;
  dvpDark: c.$dvp-dark;
  dvpWhite: c.$dvp-white;
  dvpGrey: c.$dvp-grey;
  dvpWave: c.$dvp-wave;
}
