@import '../../styles/breakpoints.scss';
@import '../../styles/base_values.scss';
@import '../../styles/shared/header.scss';

.logo {
  display: inline-block;
  height: $logo-height-sm;
  margin: $margin-sm-v $margin-sm-h;

  @include md {
    height: $logo-height-md;
    margin: $margin-md-v $margin-md-h;
  }

  @include xlg {
    height: $logo-height-lg;
    margin: $margin-lg-v $margin-lg-h;
  }
}

.home {
  position: relative;
  height: $logo-height-sm;
  margin: $margin-sm-v $margin-sm-h;

  @include md {
    height: $logo-height-md;
    margin: $margin-md-v $margin-md-h;
  }

  @include lg {
    height: $logo-height-lg;
    margin: $margin-lg-v $margin-lg-h;

    .img {
      opacity: 0;
    }
  }

}


.img {
  height: 100%;
}

.animationHeader {
  position: absolute;
  top: -10px;
  left: -39px;
  @include lg {
    /* Have to use important to override the style on element */
    display: block !important;
  }
}
