@use '../../styles/breakpoints.scss';
@use '../../styles/base_values.scss';
@use '../../styles/shared/header.scss';
@use '../../styles/shared/hype-animations.scss';

.logo {
  display: inline-block;
  height: header.$logo-height-sm;
  margin: base_values.$margin-sm-v base_values.$margin-sm-h;

  @include breakpoints.md {
    height: header.$logo-height-md;
    margin: base_values.$margin-md-v base_values.$margin-md-h;
  }

  @include breakpoints.xlg {
    height: header.$logo-height-lg;
    margin: base_values.$margin-lg-v base_values.$margin-lg-h;
  }
}

.home {
  position: relative;
  height: header.$logo-height-sm;
  margin: base_values.$margin-sm-v base_values.$margin-sm-h;

  @include breakpoints.md {
    height: header.$logo-height-md;
    margin: base_values.$margin-md-v base_values.$margin-md-h;
  }

  @include breakpoints.lg {
    height: header.$logo-height-lg;
    margin: base_values.$margin-lg-v base_values.$margin-lg-h;

    .img {
      opacity: 0;
    }
  }

}


.img {
  height: 100%;
}

.animationHeader {
  position: absolute;
  top: -10px;
  left: -39px;
  @include hype-animations.hype_fade(0.7s);

  @include breakpoints.lg {
    /* Have to use important to override the style on element */
    display: block !important;
  }
}

