@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/colors.scss';

.dark {
  composes: dark from '../../styles/global.scss';
}

.light {
  /* place holder */
}

.container {
  @include xlg {
    width: $content-width;
  }
}

.containerHome {
  @include lg {
    width: $content-width;
  }
}

.backgroundFixPanal {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 100%;
  /* Width will be gotten from the parent */
  width: 100%;
  background-color: $dvp-dark;

  @include lg {
    width: $content-width;
  }
}

.mainHome {
  margin: $margin-sm-v $margin-sm-h;

  @include md {
    margin: 0 $margin-md-h $margin-md-v;
  }

  @include lg {
    margin: 0 $margin-lg-h $margin-lg-v;
  }
}

.main{
  margin: $margin-sm-v $margin-sm-h;

  @include md {
    margin: 0 $margin-md-h $margin-md-v;
  }

  @include xlg {
    margin: 0 $margin-lg-h $margin-lg-v;
  }
}
