@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/colors.scss';
@use '../../styles/shared/mixins.scss';

.dark {
  @include mixins.darkMixin;
}

.light {
  @include mixins.lightMixin;
}


.container {
  @include mixins.contentContainer;
}

.openSideBar {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.containerHome {
  @include breakpoints.lg {
    width: base_values.$content-width;
  }

  &.openSideBar {
    @include breakpoints.lg {
      @include mixins.nullOpenSideBar;
    }
  }
}

.backgroundFixPanal {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 100%;
  /* Width will be gotten from the parent */
  width: 100%;
  background-color: colors.$dvp-dark;

  @include breakpoints.lg {
    width: base_values.$content-width;
  }
}

.mainHome {
  padding: base_values.$margin-sm-v base_values.$margin-sm-h;

  @include breakpoints.md {
    padding: 0 base_values.$margin-md-h base_values.$margin-md-v;
  }

  @include breakpoints.lg {
    padding: 0 base_values.$margin-lg-h base_values.$margin-lg-v;
  }
}

.main{
  @include mixins.contentMain;
}
