@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';

.waveImgContainer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 19rem;

  top: 12rem;
  left: 0;

  @include md {
    top: 10rem;
    height: 15rem;
  }

  @include lg {
    top: 50%;
    height: 41%;
    left: -1%;
    width: $content-width + 5%;
  }

  @include xlg {
    top: 46%;
    height: 40%;
    left: -0.5%;
    width: $content-width + 3%;
  }

  canvas {
    width: 100%;
    height: 100%
  }
}
