@import '../../styles/base_values.scss';
@import '../../styles/breakpoints.scss';

.waveImgContainer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 25rem;

  top: 15rem;
  left: 0;

  @include md {
    top: 10rem;
    height: 15rem;
    width: 94%;
    margin: 3%;
  }

  @include lg {
    top: 40%;
    height: 45%;
    width: $content-width + 2%;
  }

  @include xlg {
    height: 40%;
  }

  canvas {
    width: 100%;
    height: 100%
  }
}
