@use '../../styles/breakpoints.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @include breakpoints.md {
    justify-content: flex-start;
    max-width: 45rem;
  }
}

.imgContainer {
  margin: 1rem;
  max-width: 15rem;
  flex-grow: 0;
  flex-shrink: 1;
}


/*
 * Specific image width setting
 * use max-width: to make the max image smaller
 */
:global(.img_09_plugify) {
  max-width: 10rem;
}

