.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 900px;
}

.imgContainer {
  padding: 1rem;
}

.imgSvg {
  height: 60px;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
  color: grey;
}
