@import '../../styles/breakpoints.scss';

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @include md {
    justify-content: flex-start;
    max-width: 45rem;
  }
}

.imgContainer {
  margin: 1rem;
  flex-grow: 0;
  flex-shrink: 1;
}

