@import '../styles/base_values.scss';
@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';
@import '../styles/shared/mixins.scss';

.title {
  @include contentTitleMixin;
}

.content {
  @include contentContainerMixin;
}

.postItem {
  margin-bottom: 4rem;
}

.postTitle {
  @include contentTitleMixin;
  a {
    text-decoration: none
  }
}

.postHeader {
  margin-bottom: 1rem;
}

.postSection {
  margin-bottom: 1rem;
}

.postAddress p {
  color: $dvp-grey;
  font-style: italic;
  font-weight: 700;
}
