@import '../styles/base_values.scss';
@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';

.container {
  position: relative;
}

.textContainer {
  position: relative;
  z-index: 2;
}

.waveImgContainer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 30rem;

  top: 7rem;
  left: 0;

  @include md {
    top: 13rem;
    width: 100%;
  }

  @include lg {
    width: 80%;
    top: 15rem;
  }

  canvas {
    width: 100%;
    height: inherit;
  }

}

$img-sm-v: 57rem;
$img-sm-h: 20rem;
$img-size-sm: cover;
$img-size-lg: contain;
.waveImg {
  content: " ";
  position: relative;
  z-index: 1;
  background: url(/img/wave-white/wave.png) center center no-repeat;
  background-size: $img-sm-v $img-sm-h;
  width: $img-sm-v;
  height: $img-sm-h;
  margin-left: -8rem;
  -webkit-background-size: $img-size-sm;
  -moz-background-size: $img-size-sm;
  -o-background-size: $img-size-sm;
  background-size: $img-size-sm;

  @include md {
    background-size: 100%;
    width: 100%;
    height: 40rem;
    margin-left: 0;
  }


  @include lg {
    background: url(/img/wave-white/wave@3x.png) center center no-repeat;
    -webkit-background-size: $img-size-lg;
    -moz-background-size: $img-size-lg;
    -o-background-size: $img-size-lg;
    background-size: $img-size-lg;
    margin-left: 0;
    width: 110%;
    height: 53rem;
  }
}

.title {
  font-size: 1.5rem;
  line-height: 1.8rem;

  @include md {
    font-size: 2.1rem;
    line-height: 2.75rem;
  }

  @include lg {
    font-size: 2.2rem;
    line-height: 3.1rem;
  }
}
