@import '../styles/base_values.scss';
@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';

.title {
  composes: contentTitle from '../styles/shared/content-pages.scss';
}

.content {
  composes: contentContainer from '../styles/shared/content-pages.scss';
}

.pLarge {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}

.pGrey {
  font-size: 0.9rem;
  color: $dvp-grey;
}
