@use '../styles/base_values.scss';
@use '../styles/breakpoints.scss';
@use '../styles/colors.scss';
@use '../styles/shared/hype-animations.scss';
@use '../styles/shared/mixins.scss';

.title {
  @include mixins.contentTitleMixin;
}

.content {
  @include mixins.contentContainerMixin;
}

@mixin pLargeMixin {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}

.pLarge {
  @include pLargeMixin;
}

.pGrey {
  font-size: 0.9rem;
  color: colors.$dvp-grey;
}

.hireUs {
  @include pLargeMixin;
  display: inline-block;
  margin-bottom: 0.8rem;
}

.wayWeWork {
  margin-bottom: 3rem;
}

.wayWeWorkSection {
  h3 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 400;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    margin-bottom: 3rem;
  }
}

.approachIcons {
  vertical-align: bottom;
  margin-right: 0.5rem;
  @include hype-animations.hype_fade;
}
