@import '../styles/base_values.scss';
@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';

.title {
  display: none;
  @include md {
    display: initial;
  }
}

.content {
  @include md {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
  }

  @include xlg {
    padding-top: 3.8rem;
    padding-left: 2rem;
  }
}
