@use '../styles/base_values.scss';
@use '../styles/breakpoints.scss';
@use '../styles/colors.scss';
@use '../styles/shared/mixins.scss';

.title {
  @include mixins.contentTitleMixin;
}

.content {
  @include mixins.contentContainerMixin;
}

.pastClientSection {
  margin-top: 4rem;
}

.clientsImageDesktop {
  display: none;
  @include breakpoints.md {
    display: block;
  }
}

.clientsImageMobile {
  display: block;
  @include breakpoints.md {
    display: none;
  }
}
