@import '../styles/base_values.scss';
@import '../styles/breakpoints.scss';
@import '../styles/colors.scss';

.title {
  composes: contentTitle from '../styles/shared/content-pages.scss';
}

.content {
  composes: contentContainer from '../styles/shared/content-pages.scss';
}

.pastClientSection {
  margin-top: 4rem;
}

.clientsImageDesktop {
  display: none;
  @include md {
    display: block;
  }
}

.clientsImageMobile {
  display: block;
  @include md {
    display: none;
  }
}
