@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.dark {
  composes: dark from '../../styles/global.scss';
}

.light {
  /* place holder */
}

.containerMenuClosed {
  position: unset;
}

.containerMenuOpen {
  position: absolute;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  @include lg {
    position: unset;
    display: block;
  }
}
