@use "sass:math";
@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/colors.scss';
@use '../../styles/shared/people.scss';

.title {
}

$margin-text: 1.2rem;
.container {
  margin-bottom: 5rem;
  @include breakpoints.md {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    width: 100%;
    align-items: stretch;
    position: relative;
    margin-bottom: 2rem;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .textContainer {
        margin-left: 0;
        margin-right: 1rem;
        text-align: right;
      }

      .linkContainer {
        right: 0;
      }
    }
  }
}

@mixin columnMixin {
  flex-basis: auto;
}

.column {
  @include columnMixin;
}

.textContainer {
  margin-top: $margin-text;
  @include breakpoints.md {
    position: relative;
    margin-top: $margin-text;
    margin-left: 1rem;
    @include columnMixin;
    flex-shrink: 1;
  }

  h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.2rem;
    
    margin-bottom: 0;
    @include breakpoints.md {
      margin-bottom: math.div($margin-text, 3);
    }
  }
  h3 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: $margin-text;
    font-weight: 400;
    @include breakpoints.md {
      font-weight: 500;
    }
  }
  p {
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: $margin-text;
    line-height: 1.1rem;
  }
  b {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: $margin-text;
  }
  img {
    margin-right: math.div($margin-text, 2);
  }
}

.linkContainer {
  @include breakpoints.md {
    position: absolute;
    bottom: 0;
    margin-bottom: $margin-text;
  }

  @include breakpoints.xlg {
    position: static;
  }

}

.imgContainer {
  position: relative;
  width: people.$person-img-md-width;

  @include breakpoints.md {
    flex-shrink: 0;
    @include columnMixin;
  }

  @include breakpoints.xlg {
    width: people.$person-img-xlg-width;
  }
}

.imgPlaceholder {
  position: absolute;
  z-index: 2;
  width: 100%;
}

.imgReal {
  position: relative;
  z-index: 3;
  width: 100%;
}
