@use "sass:math";
@use '../../styles/base_values.scss';
@use '../../styles/colors.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/shared/header.scss';

.sideBarElement {
  font-size: 0.6rem;
  color: colors.$dvp-grey-half;
  font-weight: 500;

  a {
    color: colors.$dvp-dark;
  }

  padding: 4rem header.$sidebar-right-margin-sm 0.5rem header.$sidebar-left-margin-sm;

  @include breakpoints.md {
    padding: 5rem header.$sidebar-right-margin-md 1rem header.$sidebar-left-margin-md;
  }

  @include breakpoints.xlg {
    display: none;
  }

  &.home {
    @include breakpoints.lg {
      display: none;
    }
  }
}

.homePageElement {

  font-size: 0.6rem;
  color: colors.$dvp-white-half;
  font-weight: 500;
  position: absolute;
  bottom: 0;

  a {
    color: colors.$dvp-white;

    &:hover {
      color: colors.$dvp-white;
    }
  }

  display: none;

  @include breakpoints.lg {
    padding: base_values.$margin-lg-v 0 math.div(base_values.$margin-lg-v, 2);
    display: block;
  }
}
