@use '../../styles/base_values.scss';
@use '../../styles/breakpoints.scss';
@use '../../styles/shared/header.scss';

.lineContainer {
  width: 100%;

}

.container {
  display: flex;
  align-items:center;
  justify-content: flex-end;

  margin: base_values.$margin-sm-v base_values.$margin-sm-h;
  margin-right: header.$sidebar-right-margin-sm;

  @include breakpoints.md {
    margin: base_values.$margin-md-v base_values.$margin-md-h;
    margin-right: header.$sidebar-right-margin-md;
  }

  @include breakpoints.xlg {
    margin: base_values.$margin-lg-v base_values.$margin-lg-h;
    margin-right: header.$sidebar-right-margin-xlg;
  }

}

.text {
  font-family: 'camptonbold_demo';
  font-size: 0.7rem;
  text-decoration: none;
}

.imgContainer {
  margin: 0;
  margin-left: 0.5rem;
  width: 1.5rem;
}

.home {
  @include breakpoints.lg {
    margin: 2rem base_values.$margin-lg-h;
    margin-right: header.$sidebar-right-margin-lg;
  }
}
